.flip-card {
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


/*   Sitewide  */
.navbar {
  background-color: #EFD9C1;
  color: #A9B7C0;
  border-radius: 0px;
}


.bg {
  background-image: url(landing.jpg);
  background-blend-mode :darken;
  background-color: #A9B7C0 ;
  background-size:contain;
  background-position: right bottom;
  background-repeat: no-repeat ;

}
.footer {

  font-size: 8px;
  color: black;
}

@import "bourbon";


.wrapper {  
  margin-top: 115px;
  margin-left: 10px;
  float:left;
}

.form-signin {
  max-width: 400px;
  padding: 20px 35px 45px;
  margin: 0 auto;
  background-color: #cbd3d9 ;
  border-radius: 5px;
  align-content: left;
}
.title{
  align-content: center;
}

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    float:left;

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.login {
  text-align: left;
  float:left;

}
.page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-size: 10px;
}

.blue_screen{
  background-color: #A9B7C0;
  background-size:contain;
  background-repeat: no-repeat ;
}
/*/*for about*/
.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}
/*end of about*/
img {
    vertical-align: middle;
    border-style: none;
    height: 45px;
}

.box{
  padding: 50;
  border-top-left-radius: 5;
  border-color: black;
}
p {
  color: blue;
}

