.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #6699ff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


/*   Sitewide  */
.navbar {
  background-color: #1a75ff;
  color: white;
  border-radius: 0px;
}

#ubermelon-logo, #ubermelon-logo:hover, .navbar-dark .navbar-brand {
  color: #151515;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
  color: white;
}

section {
  margin-top: 50px;
}


.bg {
  background-image: url("landing.jpg");
  background-blend-mode: lighten;
  background-color: #A9B7C0;
  background-size:contain; 

}
.footer {

  font-size: 8px;
  color: black;
}

@import "bourbon";


.wrapper {  
  margin-top: 0px;
}

.form-signin {
  max-width: 280px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #cbd3d9 ;
  border-radius: 5px;


  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 20px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.login {
  text-align: left;
  float:left;

}
.footer-copyright{
  size: 8px;

