<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link href="/static/project.css" rel="stylesheet">
</head>

  <body>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <nav class="navbar login navbar-expand-lg navbar-light justify-content-between">

  {% if not session %}
  <a class="navbar-brand login">
    <img class="img-responsive2" src="/static/farsi-logo.png">
  </a>

  <div class="collapse navbar-collapse" id=navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form action="/dictionary" method="POST" class="form-inline">
              <input name="english" class="form-control mr-sm-2" type="search" placeholder="English Word " aria-label="Search">
              <button type="submit" class="btn btn-outline-info my-2 my-sm-0" value="Look Up">Search</button>
          </form>
        </li>
    </ul>
  </div>
  {% else %}

    <a class="navbar-brand login" href="/users/{{session['current_user_id']}}">
      <img class="img-responsive2" src="/static/farsi-logo.png">
    </a>

    <div class="collapse navbar-collapse" id=navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile/{{session['current_user_id']}}">Profile</a>
            <form action="/log_out" method='POST'>
              <button class="btn btn-logout" type='submit'>Logout</button>
            </form>
          </div>
        </li>
      </ul>
      <form action="/dictionary" method="POST" class="form-inline">
          <input name="english" class="form-control mr-sm-2" type="search" placeholder="English Word" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Look Up">Search</button>
      </form>
    </div>
    {% endif %}
  </nav>

  <ul>
      {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>

  {% if session %}
      <!-- <form  action="/log_out" method='POST'>
          <input class="btn btn-primary" type='submit' value='Log Out' name='log_out'>
      <br><br>
      </form> -->
{% endif %}
  </div>
<!-- Footer -->

<!-- Footer -->
{% block content %}

{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="/static/js-functions.js"></script>
</body>
</html>







