<!DOCTYPE html>
<html>
<head>
    <title> Learning Finglish </title>
</head>
<body>
  <a href="/users/{{session['current_user_id']}}">Finglish Dictionary 
  <a>
<hr>

<ul>
    {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>



{% if session %}
    <form action="/log_out" method='POST'>
        <input type='submit' value='Log Out' name='log_out'>
    <br><br>
    </form>

{% endif %}


{% block content %} put your content here {% endblock %}
</body>
</html>