{% extends 'base.html' %}
{% block content %}
<a href="/users/{{user_id}}/lesson/{{lesson_num}}"> Back to lesson 
  </a>
<div class=container>
  <br>
  <button id="word" data-word-id="{{word_id}}">{{word_query.farsi}}
  </button>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" id="word" data-word-id="{{word_id}}">
        <p> {{word_query.farsi}} <p>
        <audio id='{{word_query.farsi}}' controls="controls">
        <source id = "audio_src_{{word_query.farsi}}" src="" type="audio/mpeg" >
        </source>
        </audio>
      </div>
      <div class="flip-card-back">
      <ul style="list-style-type:circle">
        Translation: {{word_query.english}}<br>
        Phonetic: {{word_query.farsi_phonetic}}<br>
      </ul>
      </div>
    </div>
  </div>

<div class=container>
{% if next_word is not none %}
<form action="/users/{{user_id}}/lesson/{{lesson_num}}/quiz/{{next_word}}"  method="POST">
  <input type="radio" name="answer" value="correct"/>
    I got it!
    <br>
    <input type="radio" name="answer" value="incorrect"/>
    I did not remember
    <br>
    <input type="hidden" name= "previous_word_id" value={{word_id}}>
    <button type="submit">Next
  </button>
</form>
{% endif %}

{% if next_word is none %}
<form action="/users/{{user_id}}/lesson/{{lesson_num}}/quiz/{{word_id}}/result" method="POST">
  <input type="radio" name="answer" value="correct"/>
    I got it!
    <br>
    <input type="radio" name="answer" value="incorrect"/>
    I did not remember
    <br>
    <input type="hidden" name= "previous_word_id" value={{word_id}}>
  <button type="submit">Submit
  </button>
</form>
{% endif %}
</div>

{% if back_word is not none %}
<form action="{{back_word}}" >
  <button type="submit">Back
  </button>
</form>
{% endif %}
</div>



<script type="text/javascript" src="/static/js-functions.js"></script>

{% endblock %}
