{% extends 'base.html' %}
{% block content %}

<style>
body {
  background-image: url('/static/landing.jpg');
  background-blend-mode: lighten;
  background-color: #A9B7C0 ;
  background-size:contain;
  background-position: 100% 0%;
  background-repeat: no-repeat ;
}
 
</style>
<span   class="row justify-content-start text-center" style="white-space: pre-line"> <h4>Welcome to Finglish!
    Where learning farsi is easier than ever with smart flashcards</h4></span>
<div class= "container">
  <div class="col-md-4 text-center">
  <!-- add an if statement that desplay log in only if there is no session stored -->
  {% if  not user_id %}
  <div class="wrapper" >
    <form  class="form-signin" action="/log_in"
      method='POST'>
      <h5 class="form-signin-heading title">Please login</h5>
      <br>
      <label class="login"> Email Address </label>
      <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
      <br>
      <label class="login"> Password </label>
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>    
      <br>  
      <input class="btn btn-lg btn-info btn-block" value="Log In" type="submit">
      </input>   
    </form>
      New to Finglishi? <a href="/registration" class="text-info">Sign Up Here
      </a>

  {% endif %}

</div>
  </div> 
  <footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright">
    © 2018 Copyright:Persian Calligraphy Farsi Poem, Original Acrylic color on Canvas by Mohammad 
    <a href="www.etsy.com"> </a>
  </div>
  <!-- Copyright -->

</footer>
{% endblock %}
