{% extends 'base.html' %}

{% block content %}

<div class="container ">
    <div class="row justify-content-start">
    <div class = "col-9">
      <a href="/users/{{user_id}}/lesson/{{lesson_num}}" class="text-info"> Back to lesson
      </a>
    </div>
  </div>
  <h4>Lesson {{lesson_num}} words:</h4>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Farsi Words</th>
      <th scope="col">Translation</th>
      <th scope="col">Phonetic</th>
      <th scope="col">Pronounciation</th>
    </tr>
  </thead>
  {% for vocab in lesson_vocabs_query %}
  <tbody>
    <tr scope="row">
          <td> {{vocab.word.farsi}}</td>
          <td> {{vocab.word.english}}</td>
          <td> {{vocab.word.farsi_phonetic}}</td>
          <td><audio id='{{vocab.farsi}}' controls="controls">
            <source id = "audio_src_{{vocab.farsi}}" src="" type="audio/mpeg" >
            </source>
          </audio></td>

      </tbody> 
      {% endfor %}
    </table>   
        
  
    <div class="row justify-content-start">
      <div class = "col-9">
        <a href="/users/{{user_id}}/lesson/{{next_page}}/overview" class="text-info"> next lesson
        </a>
      </div>
    </div>
</div>  
</div>
{% endblock %}