{% extends 'base.html' %}
{% block content %}

    <h2>Lesson {{lesson_num}} </h2>
    <div>
        <br></br>
        <ul>
    <h3>Today's words are : </h3>
         {% for vocab_word in lesson_vocabs %}
            <li> {{vocab_word.word.farsi_word}}
            <ul style="list-style-type:disc">
                <li> Translation: {{vocab_word.word.english_word}}</li>
                <li> Phenetic: {{vocab_word.word.farsi_phenetic}}</li>
                <li> 
                    <audio id='{{word.farsi_word}}' controls="controls">
                        <source id = "audio_src_{{word.farsi_word}}" src="" type="audio/mpeg" >
                        </source>
                    </audio>
                </li>


            </ul>


        {% endfor %}



<script type="text/javascript" src="/static/js-functions.js"></script>
{% endblock %}