{% extends 'base.html' %}

{% block content %}
<script src="http://code.jquery.com/jquery.js"></script>

<div>
  <h2>Lesson: {{lesson_num}} </h2>
    <br></br>
  <h3>Today's words are : </h3>
  <ul>    
    {% for word in lesson_vocabs %}
      <li>{{word.word.farsi}}
        <ul style="list-style-type:disc">
          <li> Translation: {{word.word.english}}</li>
          <li> Phonetic: {{word.word.farsi_phonetic}}</li>
          <li> 
            <audio id='{{word.word.farsi}}' controls="controls">
              <source id = "audio_src_{{word.word.farsi}}" src="" type="audio/mpeg" />
            </audio>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>
<form action= "{{next_page}}" >
  <button type="submit" name="Next">Next
  </button>
</form>
</div>
<script type="text/javascript" src="/static/js-functions.js"></script>
{% endblock %}