{% extends 'base.html' %}

{% block content %}
<script src="http://code.jquery.com/jquery.js"></script>

<div>
  <h2>Lesson: {{lesson_num}} </h2>
    <br></br>
  <h3>Today's words are : </h3>
  <ul>    
    {% for word in lesson_vocabs %}
      <li>{{word.word.farsi_word}}
        <ul style="list-style-type:disc">
          <li> Translation: {{word.word.english_word}}</li>
          <li> Phonetic: {{word.word.farsi_phonetic}}</li>
          <li> 
            <audio id='{{word.word.farsi_word}}' controls="controls">
              <source id = "audio_src_{{word.word.farsi_word}}" src="" type="audio/mpeg" />
            </audio>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>
  <button onClick="goToNext(/'' + user_id + / next_page + '/'))" id='next-lesson'>Next</button> 
</div>

<script type="text/javascript" src="/static/js-functions.js"></script>
{% endblock %}