{% extends 'base.html' %}
{% block content %}
<div class="container ">
  <div class="row">
    <div class="col-md-12 text-center">
{% if searched_word %}
<h4 > {{searched_word.farsi}}<h4>
            <ul style="list-style-type:none">
                <li> English: {{searched_word.english}}</li> 
                <li> Phonetic: {{searched_word.farsi_phonetic}}</li> 
                <li> 
                    <audio id='{{searched_word.farsi}}' controls="controls">
                        <source id ="audio_src_{{searched_word.farsi}}" src="" type="audio/mpeg">
    
                    </audio>
                </li>
                    <button id= "test"> 
                    </button>
                
                
            </ul>

{% endif %}
</li>

<ul>
    {% for word in words %}

        <li >{{word.farsi}}
            <ul style="list-style-type:none;">
                <li> Translation: {{word.english}}</li>
                <li> Phonetic: {{word.farsi_phonetic}}</li>
                
                <li> 
                    <audio id='{{word.farsi}}' controls="controls">
                        <source id = "audio_src_{{word.farsi}}" src="" type="audio/mpeg" >
                        </source>
                    </audio>
                </li>

                
            </ul>

        </li>
    {% endfor %}
</ul>

</div>
</div> 
</div> 

{% endblock %}
