{% extends 'base.html' %}
{% block content %}
<script src="http://code.jquery.com/jquery.js"></script>

<h1>View words aaaaaaaah </h1>
<ul>
    {% for word in words %}

        <li >{{word.farsi_word}}
            <ul style="list-style-type:circle">
                <li> Translation: {{word.english_word}}</li>
                <li> Phenetic: {{word.farsi_phenetic}}</li>
                
                <li> 
                        <audio id='{{word.farsi_word}}' controls="controls">
                            <source id = "audio_src_{{word.farsi_word}}" src="" type="audio/mpeg" >
                                </source>
                        </audio>
                    </span>
                </li>

                
            </ul>

        </li>
    {% endfor %}
</ul>
 
<button id="test">hello</button>



</script> -->
<script type="text/javascript" src="/static/js-functions.js"></script>
{% endblock %}



<!-- <div id={{word.farsi_word}}">
                        <img id="playButton" src="/img/play-button width="360" height="200"> 
                    </div>




 -->